.asset_details
	.file_name= link_to folder.name, browse_path(folder)
	.file_size -
	.file_last_updated -
	.actions
		.share
			= link_to 'Share'
		.rename
			= link_to 'Rename'
		.delete
			= link_to 'Delete'