.breadcrumbs
	- if @parent_folder
		= link_to 'ShareBox', root_url
		- @parent_folder.ancestors.reverse.each do |folder|
			=link_to "» #{folder.name}", browse_path(folder)
		
		= @parent_folder.name

	- else 
		ShareBox